<div id="<%= dom_id phone %>">
  <p>
    <strong>Number:</strong>
    <%= phone.number %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= phone.name %>
  </p>

  <p>
    <strong>Colour:</strong>
    <%= phone.colour %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= phone.position %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= phone.department %>
  </p>

</div>
