<%= form_with(model: timesheet) do |form| %>
  <% if timesheet.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(timesheet.errors.count, "error") %> ошибка сохранения</h2>

      <ul>
        <% timesheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>

    <%= form.label :ЦЕХ %>
    <%= form.text_field :unit, placeholder: " Телефон", class: "form-control"  %>

    <br>

    <%= form.label :"код подразделения" %>
    <%= form.text_field :subdivision_code, class: "form-control"  %>

    <br>

    <%= form.label :"табельный номер" %>
    <%= form.text_field :personnel_number, class: "form-control"  %>

    <br>

    <%= form.label :"официальная дата трудоустройства", style: "display: block" %>
    <%= form.text_field :employment_official_date, class: "form-control"  %>

    <br>

    <%= form.label :"фактическая дата трудоустройства", style: "display: block" %>
    <%= form.text_field :employment_fact_date, class: "form-control"  %>

    <br>

    <%= form.label :"фамилия, имя, отчество", style: "display: block" %>
    <%= form.text_field :full_name, class: "form-control"  %>

    <br>

    <%= form.label :"должность", style: "display: block" %>
    <%= form.text_field :position, class: "form-control"  %>

    <br>

    <%= form.label :"отработанные часы", style: "display: block" %>
    <%= form.text_field :worked_hours_per_shift, class: "form-control"  %>

    <br>

    <%= form.label :"буквы", style: "display: block" %>
    <%= form.text_field :note, class: "form-control"  %>

    <br>

    <%= form.label :"явок", style: "display: block" %>
    <%= form.text_field :worked_shifts_total, class: "form-control"  %>

    <br>

    <%= form.label :"часов", style: "display: block" %>
    <%= form.text_field :worked_hours_total, class: "form-control"  %>

    <br>

    <%= form.label :"день", style: "display: block" %>
    <%= form.text_field :worked_hours_per_day, class: "form-control"  %>

    <br>

    <%= form.label :"ночь", style: "display: block" %>
    <%= form.text_field :worked_hours_per_night, class: "form-control"  %>

    <br>

    <%= form.label :"итого", style: "display: block" %>
    <%= form.text_field :check_formula, class: "form-control"  %>

    <br>

    <%= form.label :"н", style: "display: block" %>
    <%= form.text_field :absences_total, class: "form-control"  %>

    <br>

    <%= form.label :"зя", style: "display: block" %>
    <%= form.text_field :absences_by_request, class: "form-control"  %>

    <br>

    <%= form.label :"сп", style: "display: block" %>
    <%= form.text_field :absences_by_certificate, class: "form-control"  %>

    <br>

    <%= form.label :"б", style: "display: block" %>
    <%= form.text_field :absences_by_sick_leave, class: "form-control"  %>

    <br>

    <%= form.label :"от", style: "display: block" %>
    <%= form.text_field :vacation_days_total, class: "form-control"  %>

    <br>

    <%= form.label :"а", style: "display: block" %>
    <%= form.text_field :absences_by_permission, class: "form-control"  %>

    <br>

    <%= form.label :"и", style: "display: block" %>
    <%= form.text_field :absences_with_working_out, class: "form-control"  %>

    <br>

    <%= form.label :"оа", style: "display: block" %>
    <%= form.text_field :absences_by_permission_vacation, class: "form-control"  %>
  </div>

  <div>
    <br><br><br>
    <%= form.submit "сохранить", class: "btn btn-primary mt-5 text-white text-decoration-none", style: "width: 8rem" %>
  </div>

<% end %>
