<div id="<%= dom_id timesheet %>">
  <p>
    <strong>Unit:</strong>
    <%= timesheet.unit %>
  </p>

  <p>
    <strong>Subdivision code:</strong>
    <%= timesheet.subdivision_code %>
  </p>

  <p>
    <strong>Personnel number:</strong>
    <%= timesheet.personnel_number %>
  </p>

  <p>
    <strong>Employment official date:</strong>
    <%= timesheet.employment_official_date %>
  </p>

  <p>
    <strong>Employment fact date:</strong>
    <%= timesheet.employment_fact_date %>
  </p>

  <p>
    <strong>Full name:</strong>
    <%= timesheet.full_name %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= timesheet.position %>
  </p>

  <p>
    <strong>Worked hours per shift:</strong>
    <%= timesheet.worked_hours_per_shift %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= timesheet.note %>
  </p>

  <p>
    <strong>Worked shifts total:</strong>
    <%= timesheet.worked_shifts_total %>
  </p>

  <p>
    <strong>Worked hours total:</strong>
    <%= timesheet.worked_hours_total %>
  </p>

  <p>
    <strong>Worked hours per day:</strong>
    <%= timesheet.worked_hours_per_day %>
  </p>

  <p>
    <strong>Worked hours per night:</strong>
    <%= timesheet.worked_hours_per_night %>
  </p>

  <p>
    <strong>Check formula:</strong>
    <%= timesheet.check_formula %>
  </p>

  <p>
    <strong>Absences total:</strong>
    <%= timesheet.absences_total %>
  </p>

  <p>
    <strong>Absences by request:</strong>
    <%= timesheet.absences_by_request %>
  </p>

  <p>
    <strong>Absences by certificate:</strong>
    <%= timesheet.absences_by_certificate %>
  </p>

  <p>
    <strong>Absences by sick leave:</strong>
    <%= timesheet.absences_by_sick_leave %>
  </p>

  <p>
    <strong>Vacation days total:</strong>
    <%= timesheet.vacation_days_total %>
  </p>

  <p>
    <strong>Absences by permission:</strong>
    <%= timesheet.absences_by_permission %>
  </p>

  <p>
    <strong>Absences with working out:</strong>
    <%= timesheet.absences_with_working_out %>
  </p>

  <p>
    <strong>Absences by permission vacation:</strong>
    <%= timesheet.absences_by_permission_vacation %>
  </p>

</div>
