<h3>Загрузить табель из XLSX</h3>
<%= form_with url: import_timesheets_path do |f|%>
  <div class="mb-3 row">
    <div class="col-sm-2 col-form-label">
      <%= f.label :archive, 'выбрать XLSX'%>
    </div>
    <div class="col-sm-10">
      <%= f.file_field :file, class: 'form-control' %>
    </div>
  </div>
  <%= f.submit 'Импорт файла', class: 'btn btn-primary' %>
<% end %>
<%= link_to 'Экспорт в XLSX', timesheets_path(format: :xlsx), class: "btn btn-primary mt-5 text-white text-decoration-none", style: "width: 8rem" %>
<%= link_to 'Добавить', new_timesheet_path, class: "btn btn-primary mt-5 text-white text-decoration-none", style: "width: 8rem" %>
<%= link_to "Очистить", timesheet_delete_all_path(@timesheets), class: "btn btn-primary mt-5 text-white text-decoration-none", style: "width: 8rem" , method: :delete %>

<form class="d-flex mt-5" role="search">
  <%= form_with(url: timesheets_path, method: :get, data: { turbo_frame: "timesheets"}) do |form| %>
    <%= form.text_field :query, class: "form-control me-2", type: "search", placeholder: "Поиск по табелям" %>
    <%= form.submit "Найти", class: "btn btn-outline-success ", style: "width: 8rem", type: "submit" %>
  <% end %>
</form>

<table class="table table-bordered table-striped table-hover mt-5 mb-10" style="font-size: 0.7rem;">
  
  <thead style="position:sticky; top: 0 ; background-color:#FFFFFF; " >
    <tr style="position:sticky">
      <th rowspan=2 scope="col" > </th>
      <th rowspan=2 scope="col" >Код</th>
      <th rowspan=2 scope="col" >таб№</th>
      <th rowspan=2 scope="col" >офиц.</th>
      <th rowspan=2 scope="col" >факт</th>
      <th rowspan=2 scope="col" >№</th>
      <th rowspan=2 scope="col" >фамилия И.О.</th>
      <th rowspan=2 scope="col" >Должность</th>
      <th colspan=<%= $days_count %> scope="col" ></th>
      <th rowspan=2 scope="col" >Явок</th>
      <th rowspan=2 scope="col" >Часов</th>
      <th rowspan=2 scope="col" >день</th>
      <th rowspan=2 scope="col" >ночь</th>
      <th rowspan=2 scope="col" >Итого:</th>
      <th rowspan=2 scope="col" >Н</th>
      <th rowspan=2 scope="col" >з\я</th>
      <th rowspan=2 scope="col" >сп</th>
      <th rowspan=2 scope="col" >б</th>
      <th rowspan=2 scope="col" >от</th>
      <th rowspan=2 scope="col" >а</th>
      <th rowspan=2 scope="col" >и</th>
      <th rowspan=2 scope="col" >оа</th>
    </tr>
    <tr>
      <% $days_count.times do |day_num| %>
        <td><%= day_num + 1 %></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr onclick="window.location.href='<%= edit_timesheet_path(timesheet) %>'" > 
        <td><%= timesheet.unit %></td>
        <td><%= timesheet.subdivision_code %></td>
        <td><%= timesheet.personnel_number %></td>
        <td><%= (timesheet.employment_official_date[0,10]) %></td> 
        <%#= Date.parse(timesheet.employment_official_date).strftime("%d.%m.%y")  %>
        <td><%= (timesheet.employment_fact_date[0,10]) %></td>
        <td><%= timesheet.id %></td>
        <td><div style="background:#<%= if timesheet.colour.length == 8 then timesheet.colour[2,7] else timesheet.colour end %>"><%= timesheet.full_name %></div></td>
        <td><%= timesheet.position %></td>
        <% $days_count.times.map {|i| timesheet.worked_hours.find{ _1.day_of_month == (i + 1)}}.each do |worked_hour| %>
          <td><%= worked_hour&.display %></td>
        <% end %>
        <td><%= timesheet.worked_shifts_total %></td>
        <td><%= timesheet.worked_hours_total %></td>
        <td><%= timesheet.worked_hours_per_day %></td>
        <td><%= timesheet.worked_hours_per_night %></td>
        <td><%= timesheet.check_formula %></td>
        <td><%= timesheet.absences_total %></td>
        <td><%= timesheet.absences_by_request %></td>
        <td><%= timesheet.absences_by_certificate %></td>
        <td><%= timesheet.absences_by_sick_leave %></td>
        <td><%= timesheet.vacation_days_total %></td>
        <td><%= timesheet.absences_by_permission %></td>
        <td><%= timesheet.absences_with_working_out %></td>
        <td><%= timesheet.absences_by_permission_vacation %></td>
      </tr>
    <% end %>
  </tbody>
</table>