<h3>Загрузить табель из XLSX</h3>
<div class="mt-3 row">
  <%= form_with url: import_timesheets_path do |f|%>
    <div class="col col-md-auto d-flex">
      <%= f.submit 'Импорт файла', class: 'btn btn-primary scroll' %>
      <%= f.file_field :file, class: 'form-control ms-1' %>
    </div>
  <% end %>
</div>

<div>
  <%= link_to 'Экспорт в XLSX', new_timesheet_path(format: :xlsx),
    class: "btn btn-primary text-white text-decoration-none mt-3 scroll", style: "width: 8rem" %>

  <%= link_to 'Добавить строку', new_timesheet_path,
    class: "btn btn-primary text-white text-decoration-none mt-3 scroll", style: "width: 8rem" %>

  <%= link_to "Удалить пустышки", timesheet_delete_empty_path(@timesheets),
    class: "btn btn-success text-white text-decoration-none mt-3 scroll", style: "width: 8rem" , method: :delete %>

  <%= link_to "Удалить дубликаты", timesheet_delete_duplicates_path(@timesheets),
    class: "btn btn-success text-white text-decoration-none mt-3 scroll", style: "width: 8rem" , method: :delete %>

  <%= link_to "Удалить бирюзовые", timesheet_delete_turquoise_path(@timesheets),
    class: "btn btn-success text-white text-decoration-none mt-3 scroll", style: "width: 8rem" , method: :delete %>

  <%= link_to "Удалить не бирюзовые", timesheet_delete_not_turquoise_path(@timesheets),
    class: "btn btn-success text-white text-decoration-none mt-3 scroll", style: "width: 8rem" , method: :delete %>

  <%= link_to "Удалить все строки", timesheet_delete_all_path(@timesheets),
    class: "btn btn-danger text-white text-decoration-none mt-3 scroll", style: "width: 8rem" , method: :delete %>
</div>

<form class="d-flex mt-3" role="search">
  <%= form_with(url: timesheets_path, method: :get) do |form| %>
    <%= form.text_field :query, class: "form-control me-2", type: "search", placeholder: "Поиск по табелям" %>
    <%= form.submit "Найти", class: "btn btn-outline-success scroll", style: "width: 8rem", type: "submit" %>
  <% end %>
</form>

<div class="mt-3">
  <p>всего: <%= Timesheet.count %> строк,
    из них с табельными номерами: <%= Timesheet.where.not(personnel_number: '' ).count %>,
    людей: <%= Timesheet.where.not(personnel_number: '' ).select(:full_name).distinct.count %></p>
</div>

<table class="table table-sm table-bordered table-striped table-hover mt-3 mb-10 custom-class" style="font-size: 0.7rem;" >
  <thead style="position:sticky; height: 40px; top: 0 ; background-color:#FFFFFF; " >
    <tr class="text-center text-nowrap" style="position:sticky; ">
      <th style="width: 40px;" rowspan=2 scope="col" > </th>
      <th style="width: 40px;" rowspan=2 scope="col" >код</th>
      <th style="width: 40px;" rowspan=2 scope="col" >таб№</th>
      <th style="width: 55px;" rowspan=2 scope="col" >офиц.</th>
      <th style="width: 55px;" rowspan=2 scope="col" >факт</th>
      <th style="width: 25px;" rowspan=2 scope="col" >№</th>
      <th style="width: 120px;" rowspan=2 scope="col" >Ф.И.О.</th>
      <th style="width: 130px;" rowspan=2 scope="col" >должность</th>
      <th style="width: 860px;" colspan=<%= $days_count %> scope="col" ></th>
      <th style="width: 40px;" rowspan=2 scope="col" >явок</th>
      <th style="width: 40px;" rowspan=2 scope="col" >часов</th>
      <th style="width: 40px;" rowspan=2 scope="col" >яв/д</th>
      <th style="width: 40px;" rowspan=2 scope="col" >яв/н</th>
      <th style="width: 40px;" rowspan=2 scope="col" >день</th>
      <th style="width: 40px;" rowspan=2 scope="col" >ночь</th>
      <th style="width: 40px;" rowspan=2 scope="col" >итого</th>
      <th style="width: 25px;" rowspan=2 scope="col" >н</th>
      <th style="width: 25px;" rowspan=2 scope="col" >з/я</th>
      <th style="width: 25px;" rowspan=2 scope="col" >сп</th>
      <th style="width: 25px;" rowspan=2 scope="col" >б</th>
      <th style="width: 25px;" rowspan=2 scope="col" >от</th>
      <th style="width: 25px;" rowspan=2 scope="col" >а</th>
      <th style="width: 25px;" rowspan=2 scope="col" >и</th>
      <th style="width: 25px;" rowspan=2 scope="col" >оа</th>
    </tr>
    <tr class="text-center">
      <% $days_count.times do |day_num| %>
        <td><b><%= day_num + 1 %></b></td>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @timesheets.each do |timesheet| %>
      <tr onclick="window.location.href='<%= edit_timesheet_path(timesheet) %>'" > 
        <td><%= timesheet.unit %></td>
        <td class="fw-bold"><%= timesheet.subdivision_code %></td>
        <td class="fw-bold"><%= timesheet.personnel_number %></td>
        <td>
          <%= if timesheet.employment_official_date.size > 1 then
            Date.parse(timesheet.employment_official_date[0,10]).strftime("%d.%m.%y") end %>
        </td>
        <td>
          <%= if timesheet.employment_fact_date.size > 1 then
            Date.parse(timesheet.employment_fact_date[0,10]).strftime("%d.%m.%y") end %>
        </td>
        <td class="text-nowrap overflow-hidden" ><%= timesheet.id %></td>
        <td>
          <div style="background:#<%= if timesheet.colour&.length == 8 then timesheet.colour[2,7] else timesheet&.colour end %>">
            <%= timesheet.full_name %>
          </div>
        </td>
        <td class="overflow-hidden"><%= timesheet.position %></td>
        <% $days_count.times.map {|i| timesheet.worked_hours.find{ _1.day_of_month == (i + 1)}}.each do |worked_hour| %>
          <td class="text-nowrap overflow-hidden text-center">
            <div style="background:#<%= if worked_hour&.fill&.length == 8 then worked_hour.fill[2,7] else worked_hour&.fill end %>">
              <%= worked_hour&.display %>
            </div>
          </td>
        <% end %>
        <td class="fw-bold">
          <%= if timesheet.worked_shifts_total.to_i == timesheet.worked_shifts_total then
            timesheet.worked_shifts_total.to_i else timesheet.worked_shifts_total end %>
        </td>
        <td class="fw-bold">
          <%= if timesheet.worked_hours_total.to_i == timesheet.worked_hours_total then
            timesheet.worked_hours_total.to_i else timesheet.worked_hours_total end %>
        </td>
        <td><%= timesheet.worked_shifts_per_day %></td>
        <td><%= timesheet.worked_shifts_per_night %></td>
        <td class="text-nowrap overflow-hidden">
          <%= if timesheet.worked_hours_per_day.to_i == timesheet.worked_hours_per_day then
            timesheet.worked_hours_per_day.to_i else timesheet.worked_hours_per_day end %>
        </td>
        <td class="text-nowrap overflow-hidden">
          <%= if timesheet.worked_hours_per_night.to_i == timesheet.worked_hours_per_night then
            timesheet.worked_hours_per_night.to_i else timesheet.worked_hours_per_night end %>
        </td>
        <td class="text-danger"><%= timesheet.check_formula %></td>
        <td><%= timesheet.absences_total %></td>
        <td><%= timesheet.absences_by_request %></td>
        <td><%= timesheet.absences_by_certificate %></td>
        <td><%= timesheet.absences_by_sick_leave %></td>
        <td><%= timesheet.vacation_days_total %></td>
        <td><%= timesheet.absences_by_permission %></td>
        <td><%= timesheet.absences_with_working_out %></td>
        <td><%= timesheet.absences_by_permission_vacation %></td>
      </tr>
    <% end %>
  </tbody>
</table>